.container
  .row
    .col-lg-8
      - @posts.each do |post|
        .card.shadow.mb-3
          .card-body
            - if current_user.id == post.user_id
              %p= link_to 'Edit', edit_post_path(post), class: 'float-right'
            %h5.card-title
              = link_to post.title, post_path(post)
            .user.d-flex
              .mr-2
                = get_user_avatar(40)
              .info.d-flex
                %span.item.font-weight-bold
                  = current_user.username.capitalize
                %span.item.font-weight-light.text-muted
                  = current_user.full_name
              .created-at
                %span.font-weight-light.text-muted
                  = time_ago_in_words(post.created_at) 
                  ago
          .card-footer.text-right
            %a.card-link{:href => "#"}
              %i.far.fa-comments
    .col-lg-4
      .card
        .card-header Tags
        .card-body
          %h5.card-titlePrimary card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
